.ev-main{
    width: 50vw;
    height: 10vh;
    /* background-color: beige; */
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
    border-radius: 25px;
    position: absolute;
    top: 16vh;
    left: 50%;
    background-color: black;
    transform: translateX(-50%);
    z-index: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

  /* Styling for each NavLink */
  .ev-main a {
    text-decoration: none;
    color: white;
    position: relative;
    transition: color 0.3s ease-in-out;
  }
  
  /* Underline animation */
  .ev-main a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease, background-color 0.3s ease;
  }
  
  /* Underline effect on hover */
  .ev-main a:hover::after {
    background-color: #000; /* Black color for underline */
    width: 100%;
  }
  
  /* Active link styling */
  .ev-main .active {
    color: #007bff; /* Blue color for active link */
  }
  
  .ev-main .active::after {
    background-color: #007bff; /* Blue underline for active link */
    width: 100%;
  }
  