.signup-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url('../assets/login-bg.svg'); */
    background-size: cover;
    background-repeat: no-repeat;
}

.signup-card {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    height: 350px;
    background-color: #faf1e3;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, 
                rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.input-field {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 16px;
}

.signup-button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #1A503B;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.signup-button:hover {
    background-color: #14402D;
}

.login-link {
    font-size: 15px;
    color: #1A503B;
    text-decoration: none;
}

.login-link:hover {
    text-decoration: underline;
}